.App {
  font-family: Roboto;
  text-align: center;
}

.nav-logo-text {
  font-size: 23px;
  font-family: 'Satisfy', cursive;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.modal-btn,
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addexp-form,
.addincome-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 25%;
}

.pop-btn {
  text-align: right;
  margin-right: 2%;
}

.app-bar {
  background-color: hsl(240deg 4% 13%) !important;
}